{{ if or (eq .Section "posts") (eq .Section "recipes") }}

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Recipe",
  "name": {{ .Title | jsonify }},
  {{ if .Params.image }}"image": {{ .Params.image | jsonify }},{{ end }}
  "description": {{ .Params.description | jsonify }},
  "prepTime": {{ .Params.prepTime | jsonify }},
  "cookTime": {{ .Params.cookTime | jsonify }},
  "totalTime": {{ .Params.totalTime | jsonify }},
  "keywords": {{ .Params.tags | jsonify }}
}
</script>

{{ end }}
