{{ if eq .Section "recipes" }}

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Recipe",
  "name": "{{ .Title }}",
  "image": "{{ .Params.image }}",
  "description": "{{ .Params.description }}",
  "prepTime": "{{ .Params.prepTime }}",
  "cookTime": "{{ .Params.cookTime }}",
  "totalTime": "{{ .Params.totalTime }}",
  "recipeCategory": "{{ index .Params.categories 0 }}",
  "recipeCuisine": "{{ index .Params.categories 0 }}",
  "keywords": "{{ delimit .Params.tags ", " }}",
  "recipeIngredient": [
    {{ range split .RawContent "\n" }}
      {{ if strings.HasPrefix . "-" }}
        "{{ . | replaceRE "^- " "" }}",
      {{ end }}
    {{ end }}
  ]
}
</script>

{{ end }}